{
  "presets": ["stage-2"],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    ["module-resolver", {
      "alias": {
        "@core": "./src/core",
        "@resources": "./src/resources",
        "@utils": "./src/utils",
        "!constants": "./src/constants.js",
        "@root": "./src"
      }
    }]
  ]
}
