{
  "presets": ["stage-2"],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "alias": {
        "@classes": "./src/classes",
        "@objects": "./src/objects",
        "@utils": "./src/utils",
        "@root": "./src"
      }
    }]
  ]
}
